.contact-form-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222831;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  margin-top: 3rem;
}


.contakt-form {
  background: #343d49 ;
  padding: 2.5rem 3rem;
  border-radius: 1rem;
  max-width: 40vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}


.contact-h1{
  font-size: clamp(2.5rem, 2.5vw, 4rem);
  font-weight: 300;
  transition: 0.3s ease;
}


.contact-h1:hover{
  scale: 1.2;
  color: #ffa66f
}


.contakt-form input,
.contakt-form textarea {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: 0.2rem solid #ccc;
  font-size: clamp(0.6rem, 1vw, 1rem);
  font-family: inherit;
  resize: none;
  transition: border-color 0.3s ease;
}


.contakt-form input:focus,
.contakt-form textarea:focus {
  outline: none;
  border-color: #ffa667;
}


.contakt-form button[type="submit"] {
  padding: 0.2rem;
  background-color: #ffa667;
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-weight: 300;
  font-size: clamp(0.5rem, 1.5vw, 2rem);
  cursor: pointer;
  transition: 0.3s ease;
  width: 50%;
  display: flex;
  margin: auto;
  justify-content: center;
}


.contakt-form button:hover[type="submit"] {
  background-color: #ff8c33;
  scale: 1.1;
}


.success-message, .error-message {
  position: absolute;
  top: 20%;
  align-self: center;
  width: auto;
  z-index: 1000;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  font-weight: 300;
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  text-align: center;
  box-sizing: border-box;
  transition: 0.3s ease;
}


.success-message {
  color: #4BB543;
  background-color: #d4f8d4;
  border: 1px solid #4BB543;
}


.error-message {
  color: #d9534f;
  background-color: #f8d7da;
  border: 1px solid #d9534f;
}

.directContact{
  margin-bottom: clamp(-1.5rem, 3vw, -3rem);
}

.contact_footer {
    background: rgba(66, 66, 66, 0.301);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #FFF;
    padding: 1rem 0;
    text-align: center;
    height: 50px;
    font-size: clamp(0.5rem, 2vw, 1em);
    user-select: none;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

@media (max-width: 500px) {
  .contact-form-container {
    padding: 1rem;
    margin-top: 2rem;
  }

  .contakt-form {
    max-width: 90vw;
    padding: 2rem;
    gap: 1rem;
  }

  .contact-h1 {
    font-size: 2rem;
    text-align: center;
  }

  .contakt-form input,
  .contakt-form textarea {
    font-size: 1rem;
    padding: 0.8rem 1rem;
  }

  .contakt-form button[type="submit"] {
    font-size: 1rem;
    width: 100%;
  }

  .success-message,
  .error-message {
    top: 10%;
    font-size: 1rem;
    padding: 0.6rem 0.8rem;
  }

  .directContact {
    margin-bottom: -1.5rem;
  }
}