.kontakt-form-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222831;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}


.kontakt-form {
  background: #343d49 ;
  padding: 2.5rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  max-width: 50vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
h1{
    font-size: 82px;
    font-weight: 800;
    transition: 0.3s ease;
}
h1:hover{
    scale: 1.2;
}

.kontakt-form input,
.kontakt-form textarea {
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: 1.5px solid #ccc;
  font-size: 16px;
  font-family: inherit;
  resize: none;
  transition: border-color 0.3s ease;
}

.kontakt-form input:focus,
.kontakt-form textarea:focus {
  outline: none;
  border-color: #ffa667;
}

.kontakt-form button[type="submit"] {
  padding: 0.8rem;
  background-color: #ffa667;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.kontakt-form button:hover[type="submit"] {
  background-color: #ff8c33;
}

.success-message, .error-message {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  z-index: 1000;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.success-message {
  color: #4BB543;
  background-color: #d4f8d4;
  border: 1px solid #4BB543;
}

.error-message {
  color: #d9534f;
  background-color: #f8d7da;
  border: 1px solid #d9534f;
}