.phone-container {
    height: 3rem;
  display: flex;
  margin: auto;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
  align-items: center;
}

.phone-container:hover {
  color: #ffffff;
  scale: 1.1;
}

.phone-container.copied {
  color: #fff;
}
.phone-icon {
  height: auto;
  scale: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:  0 1.5rem;
}